<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <title>Login to Your Virtual Bookshelf | BookSpace</title>
</head>

<body>
    <div class="container">
        <div class="layer">
        </div>         
        <div class="logo">
            <img src="public/img/logo.svg">
        </div>
        <div class="login-container">
            <form class="login">
                <input name="email" type="text" placeholder="email or login">
                <input name="password" type="password" placeholder="password">
                <button name="login-button">Log in</button>
                <button name="want-sign-up">Do you want to create new account? Sign up.</button-2>
            </form>
        </div>
    </div>
</body>