<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <link rel="stylesheet" type="text/css" href="public/css/books.css">
    <script src="https://kit.fontawesome.com/6ee0d82bf7.js" crossorigin="anonymous"></script>
    <title>My Bookshelf | BookSpace</title>
</head>

<body>
    <div class="base-container">
        <div class="top-menu">
            <div class="search-bar">
                <form class="search">
                    <input placeholder="Search...">
                </form>
            </div>
            <ul>
                <li>
                    <i class="fas fa-book-open"></i>
                    <a href="#" class="header-button">My Bookshelf</a>
                </li>
                <li>
                    <i class="fas fa-exchange-alt"></i>
                    <a href="#" class="header-button">Book for book</a>
                </li>
                <li>
                    <i class="fas fa-bell"></i>
                    <a href="#" class="header-button">Notifications</a>
                </li>
                <li>
                    <i class="fas fa-user-alt"></i>
                    <a href="#" class="header-button">My profile</a>
                </li>
            </ul>
        </div>
        <div class="down-site">
            <div class="left-site">
                <img src="public/img/logo.svg">
                <div class="genres">
                    <div class="add-book">
                        <i class="fas fa-plus"></i>
                        <a href="#" class="add-book-button">ADD BOOK</a>
                    </div>
                    <div class="books-on-my-shelf">
                        Books on my shelf: 6
                    </div>
                    <div class="books-I-have-read">
                        Books I have read: 4
                    </div>
                    <ul>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">art</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">biography</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">business</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">classics</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">comics</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">cookbooks</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">fantasy</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">fiction</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">history</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">horror</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">music</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">nonfiction</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">poetry</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">psychology</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">romance</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">science</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">science fiction</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">self help</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">sports</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">thriller</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">travel</a>
                        </li>
                        <li>
                            <i class="fas fa-circle"></i>
                            <a href="#" class="genres-button">Young Adult</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-site">
                <main>
                    <section class="my-books">
                        <div id="book1">
                            <img src="public/img/uploads/book1.jpg">
                            <div>
                                <h2>Title</h2>
                                <h3>Author</h3>
                            </div>
                        </div>
                        <div id="book2">
                            <img src="public/img/uploads/book1.jpg">
                            <div>
                                <h2>Title</h2>
                                <h3>Author</h3>
                            </div>
                        </div>
                        <div id="book3">
                            <img src="public/img/uploads/book1.jpg">
                            <div>
                                <h2>Title</h2>
                                <h3>Author</h3>
                            </div>
                        </div>
                        <div id="book4">
                            <img src="public/img/uploads/book1.jpg">
                            <div>
                                <h2>Title</h2>
                                <h3>Author</h3>
                            </div>
                        </div>
                        <div id="book5">
                            <img src="public/img/uploads/book1.jpg">
                            <div>
                                <h2>Title</h2>
                                <h3>Author</h3>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </div>
</body>