<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <title>Registration | BookSpace</title>
</head>

<body>
    <div class="container">
        <div class="layer">
        </div>         
        <div class="logo">
            <img src="public/img/logo.svg">
        </div>
        <div class="login-container">
            <form class="login">
                <input name="name" type="text" placeholder="name">
                <input name="last-name" type="text" placeholder="last name">
                <input name="email" type="text" placeholder="email">
                <input name="login" type="text" placeholder="login">
                <input name="password" type="password" placeholder="password">
                <input name="repeat-password" type="password" placeholder="repeat password">
                <button name="login-button">Sign up</button>
            </form>
        </div>
    </div>
</body>