/* LISTA KSIAZEK */

section[class="my-books"] {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    padding: 2em;
    /* TUTAJ ZROBIÅAM ZMIANY Z OVERFLOW */
    /* overflow: auto; */
}

.my-books > div > img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;

}

.my-books > div > div {
    height: 20%;
    color: white;
    margin: 0.2em;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.my-books > div {
    background: #D6BFAD 0% 0% no-repeat padding-box;
    border: 1px solid #A58C78;
    border-radius: 20px 20px 20px 20px;
    /* height: 25em; */

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font: normal normal normal 25px/24px Segoe UI;
    margin: 0.1em;
    overflow: hidden;
    padding: 0em 0em 1em 0em;
}

h3 {
    font: normal normal normal 20px/27px Segoe UI;
    margin: 0.5em;
}

@media only screen and (max-device-width: 1178px) {
    section[class="my-books"] {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        grid-gap: 1em;
        padding: 1em;
    }

    h2 {
        font: normal normal normal 35px/35px Segoe UI;
    }

    h3 {
        font: normal normal normal 30px/30px Segoe UI;
    }
}



