/*STRONA BOOK FOR BOOK */

.add-book-button {
    color: #A58C78;
}

.add-book-for-book {
    border: 1px solid #A58C78;
    border-radius: 20px;
    background-color: white;
    margin: 0.5em;
    text-align: center;
    font: normal normal normal 20px/10px Segoe UI;
    color: #A58C78;
    padding: 0.5em 2em;
}

.add-book-for-book-button {
    color: #A58C78;
}

.my-bookpoints {
    border: 1px solid #A58C78;
    border-radius: 20px;
    background-color: white;
    margin: 0.5em;
    text-align: center;
    font: normal normal normal 20px/10px Segoe UI;
    color: #A58C78;
    padding: 1em 2em;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70vw;
    /* TUTAJ ZROBIÅAM ZMIANY Z OVERFLOW */
    margin: 2em 0em;
}

header {
    display: flex;
    justify-content: center;
    padding: 0.8em 0.8em;
    border: 1px solid #A58C78;
    border-radius: 20px;
    background-color: white;
    margin: 0.5em;
    text-align: center;
    font: normal normal normal 40px/10px Segoe UI;
    letter-spacing: 1em;
    color: #A58C78;
}

/* .my-books > div {
    background: #D6BFAD 0% 0% no-repeat padding-box;
    border: 1px solid #A58C78;
    border-radius: 20px 20px 20px 20px;
    height: 25em; !!!!!!!!!!
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.exchange-button {
    border: 1px solid #A58C78;
    border-radius: 20px;
    background-color: white;
    margin: 0.5em;
    text-align: center;
    font: normal normal normal 15px/10px Segoe UI;
    color: #A58C78;
    padding: 1em 1em;
}

ul {
    position: relative;
}