body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent url('../img/background.jpg') 0% 0% no-repeat padding-box;
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.layer {
    width: 80%;
    height: 80%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 5px solid #A58C78;
    border-radius: 20px;
    opacity: 0.8;
    position: absolute;
    z-index: 1;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 50%;
    text-align: center;
    z-index: 2;
}

.logo > img {
    width: 32em;
    height: 32em;
    margin: 0em 0em 0em 1em
}

.login-container {
    width: 50%;
    z-index: 2;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60vh;
    z-index: 2;
    margin: 2em 1em 1em 6em;
}

input {
    background-color: #D6BFAD;
    border: 1px solid #A58C78;
    border-radius: 20px;
    padding: 0.5em;
    margin: 0.5em;
    width: 70%;
    font: normal normal normal 20px/10px Segoe UI;
    color: #A58C78;
}

button[name="login-button"] {
    background: #D6BFAD 0% 0% no-repeat padding-box;
    border: 1px solid #A58C78;
    border-radius: 20px;

    width: 4em;
    color: #A58C78;
    margin: 1em;
    font: normal normal normal 40px/55px Segoe UI;
}

.login-button {
    background: #D6BFAD 0% 0% no-repeat padding-box;
    border: 1px solid #A58C78;
    border-radius: 20px;
    
    width: 30%;
    color: #A58C78;
    margin: 1em;
    font: normal normal normal 40px/55px Segoe UI;

    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu > ul > input {
    background-color: #D6BFAD;
    border: 1px solid #A58C78;
    border-radius: 20px;
    opacity: 0.9;
    padding: 0.5em;
    margin: 0.5em;
    width: 70%;
    font: normal normal normal 20px/10px Segoe UI;
    color: #A58C78;
}

.want-sign-up-button {
    text-align: left;
    font: normal normal normal 15px/20px Segoe UI;
    color: #A58C78;
    border: none;
    background-color: transparent;
}

/*button[name="want-sign-up"] {
    text-align: left;
    font: normal normal normal 15x/20px Segoe UI;
    color: #A58C78;
    border: none;
    background-color: transparent;
} */


.no-valid {
    border: 3px solid red;
    border-radius: 20px;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

@media only screen and (max-device-width: 950px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .layer {
        width: 80%;
        height: 96%;
        flex-direction: column;
        justify-content: space-around;
    }

    .logo {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-container {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: start;
    }

    form.login {
        width: 100%;
        margin: 1em;
        height: 80%;
        justify-content: space-between;
    }

    .logo > img {
        width: 80%;
        height: 90%;
        margin: 0em;
        padding: 1em 0em 0em 0em;
    }

    input {
        width: 85%;
        margin: 0.2em;
    }

    button[name="login-button"] {
        margin: 1em 0em 0.5em 0em;
        font: normal normal normal 25px/40px Segoe UI;
        width: 30%;
    }
}






/*STRONA MY BOOKSHELF ORAZ PODSTAWOWE MENU I FUNKCJE*/





.base-container {
    display: flex;
    flex-direction: column;
}

.top-menu {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: #D6BFAD 0% 0% no-repeat padding-box;
    border: 1px solid #A58C78;
}

.search-bar > input {
    background-color: white;
    border: 1px solid #A58C78;
    border-radius: 20px;
    margin: 0.5em;
    padding: 0em 1em;
    width: 50em;
    font: normal normal normal 15px/10px Segoe UI;
    color: #A58C78;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 2em;
}

.top-menu > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    list-style-type: none;
    color:  #A58C78;
    font: normal normal normal 15px/10px Segoe UI;
    width: 100%;
    margin: 0;
}

.header-button {
    border: 1px solid #A58C78;
    border-radius: 20px;
    margin-left: 1em;
    margin-right: 2em;
    text-align: center;
    letter-spacing: 1.5px;
    color: #A58C78;
    padding: 0.5em 1em;
    
}

a {
    text-decoration: none;
    display: inline;
    line-height: 1em;
}

li {
    text-align: center;
    font-size: 1em;
    align-self: center;
}

.down-site {
    display: flex;
    flex-direction: row;
}

.left-site > img {
    width: 15vw;
    display: flex;
    margin: 3em auto;
}

.add-book {
    border: 1px solid #A58C78;
    border-radius: 20px;
    background-color: white;
    margin: 0.5em;
    text-align: center;
    font: normal normal normal 20px/10px Segoe UI;
    color: #A58C78;
    padding: 0.5em 2em;
}

.add-book-button {
    color: #A58C78;
}

.books-on-my-shelf {
    border: 1px solid #A58C78;
    border-radius: 20px;
    background-color: white;
    margin: 0.5em;
    text-align: center;
    font: normal normal normal 20px/20px Segoe UI;
    color: #A58C78;
    padding: 1em 2em;
}

.books-I-have-read {
    border: 1px solid #A58C78;
    border-radius: 20px;
    background-color: white;
    margin: 0.5em;
    text-align: center;
    font: normal normal normal 20px/20px Segoe UI;
    color: #A58C78;
    padding: 1em 2em;
}

.genres {
    width: 20vw;
    height: auto;
    margin: 2em 3em;
    background: #D6BFAD66 0% 0% no-repeat padding-box;
    border-radius: 20px;
    border: 1px solid #A58C78;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genres-list-class {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.5em 1em 0em 1em;
}

.genres-list {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font: normal normal normal 20px/25px Segoe UI;
    color: #A58C78;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.genres-list input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 20px;
} 

.genres-list:hover input ~ .checkmark {
    background-color: #D6BFAD;
}

.genres-list input:checked ~ .checkmark {
    background-color: #A58C78;
  }
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
.genres-list input:checked ~ .checkmark:after {
    display: block;
}
  
.genres-list .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.genres > ul {
    text-align: left;
    list-style-type: none;
    color:  #A58C78;
    font: normal normal normal 17px/10px Segoe UI;
    padding-inline-start: 0px;
    position: relative;
} 

.genres > li {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 1em;
    color:  white;
}

li {
    text-align: center;
    font-size: 1em;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70vw;
    margin: 2em 0em;
}

header {
    display: flex;
    justify-content: center;
    padding: 0.8em 0.8em;
    border: 1px solid #A58C78;
    border-radius: 20px;
    background-color: white;
    margin: 0.5em;
    text-align: center;
    font: normal normal normal 35px/35px Segoe UI;
    letter-spacing: 1em;
    color: #A58C78;
}

.my-books > div > img {
    height: 20em;
    width: 15em;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

@media only screen and (max-device-width: 1178px) {
    .top-menu {
        height: 100px;
    }

    .search-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0em 0em 0em 0em;
        width: 15%;
    }

    .search-bar > input {
        width: 80%;
        padding: 0.5em 0.5em;
    }

    .top-menu > ul {
        padding: 0em;
        width: 90%;
    }

    .header-button {
        font: normal normal normal 25px/25px Segoe UI;
        margin: 0.1em;
        padding: 0.5em 0.5em;
    }

    i.fas.fa-user-alt {
        display: none;
    }

    i.fas.fa-book-open {
    display: none;
    }

    i.fas.fa-bell {
        display: none;
    }

    i.fas.fa-exchange-alt {
        display: none;
    }

    .down-site {
        flex-direction: column;
    }

    .left-site {
        flex-direction: row;
        height: auto;
    }

    .left-site > img {
        display: none;
    }

    .genres {
        flex-direction: row;
        justify-content: space-around;
        width: 96%;
        height: 90px;
        margin: 1em 0.5em 0.5em 0.5em
    }

    .books-on-my-shelf {
        font: normal normal normal 25px/30px Segoe UI;
        padding: 0.5em 1.3em;
    }

    .books-I-have-read {
        font: normal normal normal 25px/30px Segoe UI;
        padding: 0.5em 1.3em;
    }

    .add-book {
        padding: 0.5em 1.3em;
    }

    .add-book-button {
        font: normal normal normal 25px/30px Segoe UI;
    }

    .add-book > i {
        font-size: 1.5em;
    }

    .genres-list-class {
        display: none;
    }

    .my-bookshelf-header {
        font: normal normal normal 35px/35px Segoe UI;
        letter-spacing: 0.8em;
        letter-spacing: 1em;
    }

    main {
        margin: 0em 0em;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    header {
        width: 90%;
        margin-bottom: 0.1em;
    }
}